.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

# Игнорировать всё содержимое внутри этих папок
/content/Учёба/Практика/2.1.2026/Интегралы и Дифференциальные уравнения/*
/content/Учёба/Практика/2.1.2026/Информатика/*
/content/Учёба/Практика/2.1.2026/Физика/*

# НО исключить файлы .gitkeep из игнора (чтобы папки запушились)
!/content/Учёба/Практика/2.1.2026/Интегралы и Дифференциальные уравнения/.gitkeep
!/content/Учёба/Практика/2.1.2026/Информатика/.gitkeep
!/content/Учёба/Практика/2.1.2026/Физика/.gitkeep
